*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url(anne.jpg);
    background-size: cover;
    position: absolute;
    overflow: hidden!important;   

}
.main .section nav{
    width: 100%;
    height: 60px;
}
.main .section nav.logo{
    font-size: 40px;
    line-height: 60px;
    padding-left: 40px;
    color: #ff0033;
    position: absolute;
}
.main .section nav ul{
    float: right;
    margin-right:70px ;
    padding-bottom: 50px;
}
.main .section nav ul li{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    position: relative;
    line-height: 60px;
}
.main .section nav ul li a{
    color: white;
}
.main .section nav ul li;hover{
    background: #ff0033;
}
.main .section nav ul .btn{
    width: 130px;
    height: 45px;
    background: none;
    color:white;
    border: 2px solid white;
    border-radius: 30px;
}
.main .section nav ul .btn:hover{
    background: #ff0033;
}
.main .section .intro{
    color: white;
    margin-top: 30px;
    height: 100vh;
}
.main .section .intro h1{
    width: 80%;
    margin: 0 auto;
}
.hero-content{
    width: 80%;
    height: auto;
    margin: 30px auto 0 auto;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}
.hobbies{
    color:navy;
} 
.aboutme{
    background-image: url(https://static.photocdn.pt/images/articles/2019/09/10/Best_Laptops_for_Photo_Editing_in_2019-1.jpg);
}
.me{
    color: oldlace;
    margin-top: 50px;
    text-align: center;
    font-style: oblique;
    
}
.word{
    color: rgb(253, 253, 253);
    text-align: center;
    margin: 30px;
    font-style: oblique;
    font-size: 30px;
}
.favorite{
    color:rgb(253, 253, 253);
    text-align: left;
    font-size: 20px;
}
.anita{
    color:rgb(253, 253, 253);
    text-align: left;
    font-size: 20px;
}
.cont li{
    background: grey;
    padding: 20px;
    color: white;
}
.cont{
    color:rgb(13, 3, 59);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.on{
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    color:white;
}
.body{
    background-color: blue;
}
.content{
    color: black;
} 
